In [ ]:
import pandas as pd
import numpy as np

In [ ]:
parquet_file='/content/train.parquet'

train_data=pd.read_parquet(parquet_file)

train_data.shape

(3220868, 3)

In [ ]:
train_data["Date"] = pd.to_datetime(train_data["Date"] )

In [ ]:
new_data = train_data.drop_duplicates()
new_data = new_data.loc[~new_data.index.duplicated(), :]

In [ ]:
new_data['Period'] = new_data.groupby(["Patient-Uid","Incident"])["Date"].diff().abs()
new_data.dropna()

,Patient-Uid,Date,Incident,Period
56,a0dc9ad3-1c7c-11ec-b5b9-16262ee38c7f,2019-08-16,DRUG_TYPE_0,422 days
105,a0dca045-1c7c-11ec-9347-16262ee38c7f,2019-04-18,TEST_TYPE_0,1 days
131,a0dca166-1c7c-11ec-b745-16262ee38c7f,2018-07-01,DRUG_TYPE_9,577 days
167,a0dca551-1c7c-11ec-8acc-16262ee38c7f,2016-09-08,DRUG_TYPE_6,273 days
266,a0dcad87-1c7c-11ec-92bc-16262ee38c7f,2016-12-18,DRUG_TYPE_1,211 days
...,...,...,...,...
29080862,a0ee15ba-1c7c-11ec-81cb-16262ee38c7f,2016-12-08,DRUG_TYPE_2,678 days
29080886,a0ee9f75-1c7c-11ec-94c7-16262ee38c7f,2018-07-06,DRUG_TYPE_6,379 days
29080900,a0ee9b26-1c7c-11ec-8a40-16262ee38c7f,2018-10-18,DRUG_TYPE_10,377 days
29080903,a0ee1a92-1c7c-11ec-8341-16262ee38c7f,2015-09-18,DRUG_TYPE_6,862 days
29080911,a0ee146e-1c7c-11ec-baee-16262ee38c7f,2018-10-05,DRUG_TYPE_1,489 days

In [ ]:
df=(new_data[new_data["Period"]<"40 days"])
df

,Patient-Uid,Date,Incident,Period
105,a0dca045-1c7c-11ec-9347-16262ee38c7f,2019-04-18,TEST_TYPE_0,1 days
391,a0dca2c4-1c7c-11ec-add6-16262ee38c7f,2019-03-26,PRIMARY_DIAGNOSIS,10 days
476,a0dcbe50-1c7c-11ec-864f-16262ee38c7f,2020-02-24,DRUG_TYPE_0,36 days
519,a0dc9543-1c7c-11ec-bb63-16262ee38c7f,2016-05-24,DRUG_TYPE_1,25 days
553,a0dc9919-1c7c-11ec-8049-16262ee38c7f,2018-07-10,PRIMARY_DIAGNOSIS,4 days
...,...,...,...,...
29075105,a0ebe423-1c7c-11ec-a5e0-16262ee38c7f,2019-07-02,TARGET DRUG,21 days
29076810,a0ebc404-1c7c-11ec-9de6-16262ee38c7f,2018-12-25,DRUG_TYPE_2,29 days
29076936,a0ec0bd6-1c7c-11ec-8822-16262ee38c7f,2016-07-01,DRUG_TYPE_2,12 days
29080089,a0ee1b1f-1c7c-11ec-9123-16262ee38c7f,2016-02-05,DRUG_TYPE_0,28 days
29080246,a0ee17c0-1c7c-11ec-a2bc-16262ee38c7f,2019-10-03,DRUG_TYPE_0,27 days

In [ ]:
#df.isna()

In [ ]:
#df=df[pd.notnull(df['Period'])]

In [ ]:
#df_mode=df.groupby(["Patient-Uid","Incident"])["Period"].aggregate(pd.Series.mode).to_frame()

In [ ]:
#df_mode.head(10)

In [ ]:
df['Period'] = df['Period'].dt.days.astype('int32')

In [ ]:
df.head()

,Patient-Uid,Date,Incident,Period
105,a0dca045-1c7c-11ec-9347-16262ee38c7f,2019-04-18,TEST_TYPE_0,1
391,a0dca2c4-1c7c-11ec-add6-16262ee38c7f,2019-03-26,PRIMARY_DIAGNOSIS,10
476,a0dcbe50-1c7c-11ec-864f-16262ee38c7f,2020-02-24,DRUG_TYPE_0,36
519,a0dc9543-1c7c-11ec-bb63-16262ee38c7f,2016-05-24,DRUG_TYPE_1,25
553,a0dc9919-1c7c-11ec-8049-16262ee38c7f,2018-07-10,PRIMARY_DIAGNOSIS,4

In [ ]:
type(df['Period'])

pandas.core.series.Series

In [ ]:
 df['op']=df['Period'].apply(lambda x: 1 if x >= 28 and x <= 32 else 0)
 df

,Patient-Uid,Date,Incident,Period,op
105,a0dca045-1c7c-11ec-9347-16262ee38c7f,2019-04-18,TEST_TYPE_0,1,0
391,a0dca2c4-1c7c-11ec-add6-16262ee38c7f,2019-03-26,PRIMARY_DIAGNOSIS,10,0
476,a0dcbe50-1c7c-11ec-864f-16262ee38c7f,2020-02-24,DRUG_TYPE_0,36,0
519,a0dc9543-1c7c-11ec-bb63-16262ee38c7f,2016-05-24,DRUG_TYPE_1,25,0
553,a0dc9919-1c7c-11ec-8049-16262ee38c7f,2018-07-10,PRIMARY_DIAGNOSIS,4,0
...,...,...,...,...,...
29075105,a0ebe423-1c7c-11ec-a5e0-16262ee38c7f,2019-07-02,TARGET DRUG,21,0
29076810,a0ebc404-1c7c-11ec-9de6-16262ee38c7f,2018-12-25,DRUG_TYPE_2,29,1
29076936,a0ec0bd6-1c7c-11ec-8822-16262ee38c7f,2016-07-01,DRUG_TYPE_2,12,0
29080089,a0ee1b1f-1c7c-11ec-9123-16262ee38c7f,2016-02-05,DRUG_TYPE_0,28,1
29080246,a0ee17c0-1c7c-11ec-a2bc-16262ee38c7f,2019-10-03,DRUG_TYPE_0,27,0

In [ ]:
df.shape

(247168, 5)

In [ ]:
df_mode=df.groupby(["Patient-Uid","Incident"])["op"].aggregate(pd.Series.mode).to_frame()

                                                       op
Patient-Uid                          Incident
a0db1e73-1c7c-11ec-ae39-16262ee38c7f DRUG_TYPE_0        0
                                     DRUG_TYPE_6        0
                                     DRUG_TYPE_7        0
                                     DRUG_TYPE_8        0
                                     PRIMARY_DIAGNOSIS  0

In [ ]:
df_mode.head(10)

                                                            op
Patient-Uid                          Incident
a0db1e73-1c7c-11ec-ae39-16262ee38c7f DRUG_TYPE_0             0
                                     DRUG_TYPE_6             0
                                     DRUG_TYPE_7             0
                                     DRUG_TYPE_8             0
                                     PRIMARY_DIAGNOSIS       0
                                     TEST_TYPE_0             1
a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f DRUG_TYPE_0             1
                                     DRUG_TYPE_1             1
                                     DRUG_TYPE_2             0
                                     DRUG_TYPE_3        [0, 1]

def query_count(df_mode):
    return df_mode.query('op' == 1).op.count()
print(query_count(df_mode))

In [ ]:
print(type(df_mode['op']))

<class 'pandas.core.series.Series'>

In [ ]:
count=0
for i in df_mode['op']:
  if i==1:
    count+=1
print(count)

ValueError: ignored

In [ ]:
#df.sort_values(by=['Country'])

df_code=df_mode.sort_values(by=['Patient-Uid'])
df_code

                                                            op
Patient-Uid                          Incident
a0db1e73-1c7c-11ec-ae39-16262ee38c7f DRUG_TYPE_0             0
                                     DRUG_TYPE_6             0
                                     DRUG_TYPE_7             0
                                     DRUG_TYPE_8             0
                                     PRIMARY_DIAGNOSIS       0
...                                                        ...
a0f0d553-1c7c-11ec-a70a-16262ee38c7f DRUG_TYPE_3        [0, 1]
a0f0d582-1c7c-11ec-a6c1-16262ee38c7f DRUG_TYPE_1             1
                                     DRUG_TYPE_5             1
                                     DRUG_TYPE_0             1
                                     TARGET DRUG             0

[123054 rows x 1 columns]

In [ ]:
df_

Index(['op'], dtype='object')

In [ ]:
df_mode['Patient_code'] = df_mode['Patient-Uid'].cat.codes
df_mode.head()

KeyError: ignored

In [ ]:
pd.get_dummies(df_mode, columns=['Patient-Uid']).head()

KeyError: ignored